@{
    ViewData["Title"] = "MEU PERFIL MANEIRO";
}

<div style="text-align: center;">
    <h1>@ViewData["Title"]</h1>

    <p>
        Esse é meu perfil no Git:
        <br />
        <a href="https://github.com/IranildoConstantino09" target="_blank">
            Aqui está meu Github!!!!
        </a>
    </p>
</div>