@{
    ViewData["Title"] = "MEU PERFIL MANEIRO";
}

<h1>@ViewData["Title"]</h1>

<p>
    Esse é meu perfil no Git:
    <br />
    <br />
    <a href="https://github.com/IranildoConstantino09">
        Aqui está meu Github!!!!
    </a>
</p>
